/*		Default Layout: 960px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
*/
@media only screen and (min-width: 995px){

.sticky{
    position: fixed !important;
    width: 100%;
    background:#2FD9E0;
    padding:0 !important;
    box-shadow: 1px 1px 0px 1px rgb(0 0 0 / 8%);
}


}
@media only screen and (min-width: 995px) and (max-width: 1140px){
	.hero-content h2 {
		font-size: 2rem;
	}
	.hero-content P {
		font-size: 1.2rem;
		font-weight: 400;
	}

}
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	header{
		position:absolute;
		top:0;
		left: 0;
	}
	.w50{
		width:50%;
	}
	.hero{
		background-position: center left;
	}

	.brand{
		float:right;
		text-align: right !important;
	}
	.toggle-btn{
		float:left;
	}

}
/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	header{
		position:absolute;
		top:0;
		left: 0;
	}
.hero{
	background-position: left top;
	padding-bottom: 450px !important;
}
.hero-content {
    position: absolute;
    top: 515px;
    left: 0;
    right: 0;
    padding: 0 30px;
    margin: auto;
}
.botton-div {
    padding-top: 0 !important;
    text-align: center !important;
}
.brand{
	float:right;
	text-align: right !important;
}
.toggle-btn{
	float:left;
}
#nav{
	display:none;
}
.hero-content h2 {
    font-size: 2.5rem;
}
.hero-content p{
	font-size:1.2rem;
}
.ft-logo{
	display: none !important;
}
.services{
	margin-top:350px;
}

}
/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	header{
		position:absolute;
		top:0;
		left: 0;
	}
	.hero{
		background-position: left top;
	}
	.ft-card-img {
		text-align: center;
	}
	.ft-content {
   		text-align: center!important;
	}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
		header{
			position:absolute;
			top:0;
			left: 0;
		}
		.brand-div{
			width:26% !important;
		}
		.mobile-menu-botton{
			width:25% !important;
		}
		.social{
			width: 44% !important;
			text-align: center;
		}
		.hero{
			background-position: left top;
		}
		.ft-card-img {
			text-align: center;
			margin:auto;
		}
		.brand img{
			height:60px;
		}
		.nav-bar i {
    			font-size: 2rem;
		}
		.ft-content {
   			text-align: center!important;
		}
	
	
	
	
	
	
	
	
	
	
	
	
}
